kdev4/*
*.kdev4
build/*
*~
*.pyc
*margot.cc
*margot.hpp
*op_list*.cc*
*margot_op_struct.hpp
*margot_c_interface.cc
*margot.h
*margot_logger.hpp
.directory
.clang_complete
*FindMARGOT.cmake
*FindHEEL.cmake
benchmark/build/
margot_heel/margot_heel_if/build/
*.gch
.gcc-flags.json
build/
install/
